@page {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header {
    background-color: #f7f8f5;
}

.page_break {
    page-break-after: always;
}

.page_header {
    position: fixed;
    top: -25px;
}

.page_footer {
    position: fixed;
    bottom: -15px;
}

.pagenum:before {
    content: counter(page);
}

.pagetot:before {
    content: page;
}

.table_header {
    font-family: Avenir, Helvetica, sans-serif;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f5f8fa;
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.table_header th {
    background-color: rgba(7,9,5,0.44);

}

.table_header tr td {
    font-family: Avenir, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header_title {
    font-family: Avenir, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #bbbfc3;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}

.border-grey {
    border-width: thin;
    border-color: #8aa4af;
}

.block-info {
    background-color: #f7f8f5;
    font-size: 14px;
    padding: 5px;
}

.td_header {
    background-color: #CCC;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.valign-top {
    vertical-align: top;
}
