div.sticky {
    margin:0;
    padding:0;
    font-family:arial,sans-serif;
    font-size:100%;
    /*margin:0 !important;*/
    /*background:#666;*/
    /*color:#fff;*/
}
div.sticky-footer {
    position: absolute;
    bottom: 1em;
}
ul.sticky li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:5px;
}
ul.sticky li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
}

ul.sticky,li{
    list-style:none;
}
ul.sticky{
    overflow:hidden;
    padding-bottom:3em;
}
ul.sticky li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:18em;
    width:18em;
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}
ul.sticky li{
    margin:2em;
    float:left;
}
ul.sticky li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
}
ul.sticky li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
    margin: 0;
    line-height: 1em;
    border-bottom: 0.5px dashed rgba(33,33,33,.7);
}
ul.sticky li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
}
ul.sticky li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}
ul.sticky li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}
ul.sticky li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}
ul.sticky li a:hover,ul.sticky li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.30);
    -moz-transform: scale(1.30);
    -o-transform: scale(1.30);
    position:relative;
    z-index:5;
}
ol.sticky {
    text-align: left;
}
ol.sticky li{
    display:inline;
    padding-right:1em;
    list-style: lower-roman;
}
ol.sticky li a{
    color:#fff;
}

@media (max-width: 420px) {
    ul.sticky {
        padding: 0 !important;
    }
}
